@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
  margin-bottom: 60px;
}

/*login*/
.Fondo {
    margin-top: -55px;
    padding-top: 120px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -15px;
    margin-right: -15px;
    background-image: url('/img/fondo.jpeg');
    padding-bottom: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgba(0, 86, 92, 0.8);
    border-radius: 10px;
    box-shadow: rgba(44, 44, 44, 0.1));
    text-align: center;
    padding: 20px 30px 40px;
    margin-top: 200px;
}

/* Estilos para el contenedor */
.form-container {
    max-width: 800px;
    background-color: #98e1b1;
    padding: 30px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título */
.form-title {
    background-color: #3a8f56;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 1.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -30px;
    margin-bottom: 20px;
}

/* Estilos para los campos de entrada */
.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Botón */
.submit-btn {
    background-color: #3a6ad8;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
}

    .submit-btn:hover {
        background-color: #2a4eb6;
    }


form {
    /*display: flex;*/
    flex-direction: column;
}